tensorflow[and-cuda]
scikit-learn==1.6.1
matplotlib==3.10.0
seaborn==0.13.2
numpy==2.3.3
pandas==2.2.2
joblib==1.4.2
xgboost==3.0.5
requests==2.32.4
huggingface_hub==0.35.3
tiktoken==0.12.0
PyMuPDF==1.26.5
langchain==0.3.27
langchain-community==0.3.31
chromadb==1.1.1
sentence-transformers==5.1.1
opencv-python==4.12.0.88
llama-cpp-python==0.2.28
